{
  "include": ["src/**/*.js", "src/**/*.vue"],
  "exclude": [
    "src/App.vue",
    "src/main.js",
    "src/components/example",
    "src/router",
    "src/views"
  ],
  "extension": [".js", ".vue"],
  "reporter": ["html", "lcov", "text"],
  "cache": false,
  "all": true,
  "check-coverage": false,
  "instrument": true,
  "sourceMap": true
}
