{
  "include": ["src/**/*.js", "src/**/*.vue"],
  "extension": [".js", ".vue"],
  "reporter": ["html", "lcov", "text-summary"],
  "cache": false,
  "all": true,
  "check-coverage": false,
  "instrument": true,
  "sourceMap": true
}
